body {
    background: url("logo.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Optionnel : un léger voile blanc pour garder la lisibilité */
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.8); /* Ajuste l’opacité si tu veux */
    z-index: -1;
}


h2{
	text-align : center;
}

 .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .card {
    border: 2px solid #000;
    border-radius: 20px;
	border-color : #4751b5;
    padding: 30px;
    text-align: center;
    cursor: pointer;
  }
  
  button.card {
    border: 3px solid #000;
    border-radius: 20px;
    padding: 25px 10px;
    background: white;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.2s, transform 0.2s;
  }

  button.card:hover {
    transform: scale(1.05);
  }

  /* États du jeu */
  .correct {
    background: #4CAF50 !important; /* Vert */
    color: white;
  }

  .incorrect {
    background: #E53935 !important; /* Rouge */
    color: white;
  }