 body {
    font-family: Arial, sans-serif;
    background-color: #151515;
    background-image: url("TV.png");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
