body {
      font-family: Arial, sans-serif;
      background-color: #c8fcf6;
      background-image: url("TV.png");
      background-size: cover;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
